header{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
}

header ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-family:'NotoSans';
}

.menu-icon{
    display: inline-block;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

