.wrap {
  position: relative;
}
.container {
  max-width: 1428px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.sub_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
header {
  width: 100vw;
  position:absolute;
  height: 70px;
  z-index: 22;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
nav {
  display: flex;
  width: 100vw;
  padding: 8px 240px;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

header .logo {
  width: 180px;
  height: 41px;
}
header .logo > img {
  width: 100%;
  height: 100%;
}
header ul {
  display: flex;
  gap: 70px;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 80px;
  font-weight: 500;
  font-family: "Noto Sans KR";
  text-align: center;
  transition: all 0.2s linear;
}
header ul li a:hover {
  color: #b3956e;
}
header .menu-icon {
  display: inline-block;
  position: relative;
}

header .menu-icon i {
  color: #fff;
  font-size: 30px;
  transition: all 0.2s linear;
  width: 31px;
}
header .menu-icon i:hover {
  color: #b3956e;
}
header .menu-icon button {
  width: fit-content;
  padding: 0;
  margin: 0%;
  background-color: transparent;
}
.close_active {
  display: none;
}

.menu_active .fa-bars {
  display: none;
}

.menu_active .fa-xmark {
  display: inline;
}
footer {
  padding: 50px 240px;
  background-color: #444444;
  color: #d0d0d0;
  height: fit-content;
}
.footer_div {
  display: flex;
  flex-wrap: wrap ;
  align-items: end;
  padding: 20px 0;
  justify-content: start;
}
footer p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}
.footer_1 {
  margin-right: 70px;
  align-self: center;
}
.footer_1 img {
  width: 180px;
}
.footer_2_header {
  display: flex;
  gap: 38px;
}
.footer_2_header h1 {
  font-size: 16px;
  line-height: 50px;
  color: white;
  font-weight: 400;
}
.footer2_2 {
  margin-right: 20px;
}
.footer_3 span {
  margin-left: 10px;
}
footer h3 {
  padding-left:250px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 200;
}