.container {
  max-width: 1428px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.sub_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
header {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #004274;

  position: relative;
  /* height: 70px; */
}

header .logo {
  width: 180px;
  height: 41px;
}
header .logo > img {
  width: 100%;
  height: 100%;
}
header ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #fff;

  font-size: 20px;
  letter-spacing: -1px;
  line-height: 80px;

  font-weight: 500;
  font-family: "Noto Sans KR";
  text-align: center;
}

header .menu-icon {
  display: inline-block;
}

header .menu-icon i {
  color: #fff;
  font-size: 30px;
}
