@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Main page style
    순서:    Contents > Main top(banner) > Aside
-------------------------------------------------------------------*/

/* contents start */
/* page01_start */
/* main top start (banner) */
.banner {
  height: 460px;
}
.banner .banner_bg {
  position: relative;
}
.banner .banner_inn {
  position: absolute;
  top: 178px;
  left: 762px;
}

.banner .banner_inn .banner_inn_title {
  font-size: 50px;
  letter-spacing: -4px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Noto Sans KR";
  text-align: center;
}
.banner .banner_inn .banner_inn_dec {
  opacity: 0.702;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 10px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Noto Sans KR";
  text-align: center;
}

/* main top end (banner) */

/* intro start */
.page01 .intro .click_menu {
  background-color: #171c61;
  height: 63px;
  line-height: 63px;
  position: relative;
  margin-top: -63px;
}
.page01 .intro .click_menu .click_menu_nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
}
.page01 .intro .click_menu .click_menu_nav {
}
.page01 .intro .click_menu .click_menu_nav .click_menu_nav-item {
}
.page01
  .intro
  .click_menu
  .click_menu_nav
  .click_menu_nav-item
  .click_menu_nav-link {
  padding-left: 70px;
  padding-right: 70px;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans KR-L";
  width: 220px;
  margin-top: -6px;
  margin-left: 1px;
  text-decoration: none;
}
.page01
  .intro
  .click_menu
  .click_menu_nav
  .click_menu_nav-item
  .click_menu_nav-link:hover,
.page01
  .intro
  .click_menu
  .click_menu_nav
  .click_menu_nav-item
  .click_menu_nav-link:visited {
  border-bottom: 10px solid #fff;
  padding-bottom: 12px;
  transition: 0.2s;
}
.page01 .intro .intro_inn {
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page01 .intro .intro_inn .intro_inn_gp {
}
.page01 .intro .intro_inn .intro_subtit {
  font-size: 42px;

  letter-spacing: -3px;
  line-height: 75px;
  color: #000000;
  font-weight: 500;
  font-family: "Noto Sans KR";
  text-align: center;
}
.page01 .intro .intro_inn .intro_tit {
  font-size: 80px;
  letter-spacing: -5px;
  line-height: 75px;
  color: #171c61;
  font-weight: 600;
  font-family: "Noto Serif KR";
  text-align: center;
}
.page01 .intro .intro_inn .intro_dec {
  font-size: 46px;
  letter-spacing: -3px;
  line-height: 75px;
  color: #000000;
  font-weight: 500;
  font-family: "Noto Serif KR";
  text-align: center;
}
/* intro end */
/* page01_end */

/* contents end */
