@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Responsive css on all pages
    순서:    Header(menu)> Sub Page > Main top(banner) > Footer > Aside
-------------------------------------------------------------------*/

@media screen and (max-width: 1300.98px) {

}
@media screen and (max-width: 1000.98px) {
   
}
@media screen and (max-width: 767.98px) {
    header ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    header ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
@media screen and (max-width: 575.98px) {

}
@media screen and (max-width: 483px) {

}